<div class="card">
    <div class="card-body">
        <h5 class="card-title m-b-0">Thêm sản phẩm</h5>
        <div class="form-group m-t-20">
            <label>Ngày sản xuất <small class="text-muted">dd/mm/yyyy</small></label>
            <input type="text" class="form-control date-inputmask" id="date-mask" placeholder="Enter Date">
        </div>
        <div class="form-group">
            <label>Tên sản phẩm <small class="text-muted"> Camera</small></label>
            <input type="text" class="form-control phone-inputmask" id="phone-mask" placeholder="Enter Text">
        </div>
        <div class="form-group">
            <label>Giá bán <small class="text-muted"> 999 999</small></label>
            <input type="number" class="form-control international-inputmask" id="international-mask"
                placeholder="International Phone Number">
        </div>
        <div class="form-group">
            <label>Tên gian hàng <small class="text-muted">Thiết bị điện tử</small></label>
            <input type="text" class="form-control xphone-inputmask" id="xphone-mask" placeholder="Enter Phone Number">
        </div>
        <div class="form-group row">
            <label class="col-md-3">Đăng ảnh</label>
            <div class="col-md-9">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" required="">
                    <label class="custom-file-label" for="validatedCustomFile">Chọn ảnh...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
            </div>
        </div>
          <div class="form-group">
            <label>Mô tả sản phẩm </label>
            <input type="text" class="form-control xphone-inputmask" id="xphone-mask" placeholder="v.v...">
        </div>
    </div>
    <div class="border-top">
        <div class="card-body">
            <button type="button" class="btn btn-primary">Thêm sản phẩm</button>
        </div>
    </div>
</div>