<form class="form-horizontal">
    <div class="card-body">
        <h4 class="card-title">Thông tin cá nhân</h4>
        <div class="form-group row">
            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Số thứ tự</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fname" value="123">
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Tên tài khoản</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lname" value="Pham_Van_A">
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Địa Chỉ mail</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lname" value="pvA@email.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="email1" class="col-sm-3 text-right control-label col-form-label">Giới Tính</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="email1" value="Nam">
            </div>
        </div>
        <div class="form-group row">
            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Số Điện thoại</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="cono1" value="0123456789">
            </div>
        </div>
        <div class="form-group row">
            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Mật khẩu</label>
             <div class="col-sm-9">
                <input type="text" class="form-control" id="cono1" value="aaaaaaaa">
            </div>
        </div>
    </div>
    <div class="border-top">
        <div class="card-body">
            <button type="button" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</form>