<div class="card">
    <div class="card-body">
        <h5 class="card-title">Quản lí đơn đặt hàng</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Người mua hàng</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_A</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đã giao hàng</td>
                    </tr>
                   <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_B</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang giao hàng</td>
                    </tr>
                     <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_C</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang chờ xác nhận</td>
                    </tr>
                       <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_A</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đã giao hàng</td>
                    </tr>
                   <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_B</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang giao hàng</td>
                    </tr>
                     <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_C</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang chờ xác nhận</td>
                    </tr>
                       <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_A</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đã giao hàng</td>
                    </tr>
                   <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_B</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang giao hàng</td>
                    </tr>
                     <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_C</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang chờ xác nhận</td>
                    </tr>
                    ody>
                    <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_A</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đã giao hàng</td>
                    </tr>
                   <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_B</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang giao hàng</td>
                    </tr>
                     <tr>
                        <td>EEE000</td>
                        <td>Quần jeans đen</td>
                        <td>Pham_van_C</td>
                        <td>1</td>
                        <td>350.000đ</td>
                        <td>Đang chờ xác nhận</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Người mua hàng</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                    
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

