<html dir="ltr">

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </link>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </meta>
    <link rel="icon" href="img/favicon.png" type="image/png">
    </link>
    <title>Thương mại điện tử Eiser</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    </link>
    <link rel="stylesheet" href="stylesheets/linericon/style.css">
    </link>
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    </link>
    <link rel="stylesheet" href="stylesheets/themify-icons.css">
    </link>
    <link rel="stylesheet" href="stylesheets/flaticon.css">
    </link>
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    </link>
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    </link>
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    </link>
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    </link>
    <link rel="stylesheet" href="vendors/jquery-ui/jquery-ui.css">
    </link>

    <link rel="stylesheet" href="stylesheets/linearicons.css">
    </link>
    <link rel="stylesheet" href="stylesheets/owl.carousel.css">
    </link>
    <link rel="stylesheet" href="stylesheets/nice-select.css">
    </link>
    <link rel="stylesheet" href="stylesheets/ion.rangeSlider.css">
    </link>
    <link rel="stylesheet" href="stylesheets/ion.rangeSlider.skinFlat.css">
    </link>

    <link rel="stylesheet" href="stylesheets/main.css">
    </link>
    <!-- main css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    </link>
    <link rel="stylesheet" href="stylesheets/responsive.css">
    </link>
    <link href="asset?aid=0" rel="stylesheet">
    </link>
</head>

<body dir="ltr">
    <div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Chọn gian hàng</label>
            <div class="col-md-9">
                <select class="select2 form-control custom-select select2-hidden-accessible"
                    style="width: 100%; height:36px;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                    <option data-select2-id="3">apple</option>
                    <optgroup label="Đồ điện tử">
                        <option value="AK">sony</option>
                        <option value="HI">apple</option>
                    </optgroup>
                    <optgroup label="Thời trang">
                        <option value="CA">Giày nam</option>
                        <option value="NV">Quần nữ</option>
                        <option value="OR">Giầy nữ</option>
                        <option value="WA">Đồng hồ</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-success" onclick="location.href='addproduct'">Thêm sản phẩm</button>
    </div>
    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="product_top_bar">
                        <div class="left_dorp">
                            <select class="sorting">
                                <option value="1">mặc định phân loại</option>
                                <option value="2">Sắp xếp mặc định 01</option>
                                <option value="4">Sắp xếp mặc định 02</option>
                            </select>
                            <select class="show">
                                <option value="1">Hiển thị 12</option>
                                <option value="2">Hiển thị 14</option>
                                <option value="4">Hiển thị 16</option>
                            </select>
                        </div>
                    </div>

                    <div class="latest_product_inner">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i1.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i2.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i3.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i4.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i5.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i6.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i7.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i8.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" src="img/product/inspired-product/i2.jpg" alt="">
                                        <div class="p_icon">
                                            <a href="single-product">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-pencil"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="#" class="d-block">
                                            <h4>Giày sneaker nam mới nhất</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">$ 25,00</span> <del> $ 35,00 </del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Duyệt qua danh mục</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Cá đông lạnh</a>
                                    </li>
                                    <li>
                                        <a href="#">Cá khô</a>
                                    </li>
                                    <li>
                                        <a href="#">Cá tươi</a>
                                    </li>
                                    <li>
                                        <a href="#">Thịt thay thế</a>
                                    </li>
                                    <li>
                                        <a href="#">Cá tươi</a>
                                    </li>
                                    <li>
                                        <a href="#">Thịt thay thế</a>
                                    </li>
                                    <li>
                                        <a href="#">Thịt</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Thương hiệu sản phẩm</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">táo</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Bộ lọc màu</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Đen</a>
                                    </li>
                                    <li>
                                        <a href="#">Da đen</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Đen với đỏ</a>
                                    </li>
                                    <li>
                                        <a href="#">Vàng</a>
                                    </li>
                                    <li>
                                        <a href="#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Bộ lọc giá</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <div class="">
                                        <label for="amount">Giá bán : </label>
                                        <input type="text" id="amount" readonly="">
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->
</body>

</html>