    <div>
        <div class="form-group row">
            <label class="col-md-3 m-t-15">Chọn Thời gian</label>
            <div class="col-md-9">
                <select class="select2 form-control custom-select select2-hidden-accessible"
                    style="width: 100%; height:36px;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                    <option data-select2-id="3">Hôm nay</option>
                    <optgroup label="Khoảng thời gian">
                        <option value="AK">Hôm nay</option>
                        <option value="HI">Tuần này</option>
                        <option value="HI">Tháng này</option>
                        <option value="HI">Quý này</option>
                        <option value="HI">Năm này</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-success" > Xem</button>
    </div>